html
  head
    title #{ t('email.modifyPassword.title') }
  body
    h4 #{ t('email.modifyPassword.title') }
      br
      | !{ t('email.modifyPassword.first') }
    a(href=""+host+"/"+"auth"+"/change-password/"+token, target="_blank") #{ t('labels.resetPassword') }
    h4 #{ t('email.modifyPassword.second') }